﻿
@{
    ViewBag.Title = "PIDS Activity Audit Logs";
}

@using PagedList.Mvc
@model PagedList.IPagedList<WebPids.EntityFramework.ConfigurationsHistory>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



@using (Html.BeginForm())
{
    <p>
        Find by PID ID : @Html.TextBox("SearchString")
        <input type="submit" class="btn btn-default" value="Search" />
    </p>
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.ActionLink("PID Id", "Index", new { sortColumn = ViewBag.IdSortParm })</th>
            <th>@Html.ActionLink("Station Name", "Index", new { sortColumn = ViewBag.StationNameSortParm })</th>
            <th>@Html.ActionLink("Message", "Index", new { sortColumn = ViewBag.MessageSortParm })</th>
            <th>@Html.ActionLink("User", "Index", new { sortColumn = ViewBag.UserNameSortParm })</th>
            <th>@Html.ActionLink("Created Date", "Index", new { sortColumn = ViewBag.CreatedDateSortParm })</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Configuration.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Configuration.StationName)</td>
                <td>@Html.DisplayFor(modelItem => item.Message)</td>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
            </tr>
        }
    </tbody>
</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

