﻿<div class="pid-canvas" ng-show="!haserror">
    <div class="pid-container">
        <div>
            <pids predictions="predictions" numoflines="numoflines" orientationmode="orientationmode" name="pidName"
                  haserror="haserror" errormessage="errormessage" directionimage="directionimage" distance="distance" messages="messages"
                  readyforrefresh="readyForRefresh" isgenericmessageenabled="isgenericmessageenabled" genericmessage="genericmessage" />
        </div>
    </div>
</div>
<div ng-show="haserror">
    <piderror errormessage="errormessage" />
</div>
