﻿<div id="pid-footer">
    <table id="pid-footer-table">
        <tr>
            <td class="pid-footer-table-cell-left">
                <div>
                    <clock createdtime="createdtime" />
                </div>
            </td>
            <td class="pid-footer-table-cell-right">
                <div>
                    <img src="Images/tramtracker.png" alt="Tram Tracker" />
                </div>
            </td>
             
        </tr>
    </table>
</div>
