﻿<div class="pid-main-screen">
    <pidheader name="name" distance="distance" directionimage="directionimage" />
    <div id="landscape" ng-show="predictions[0].Predictions[0].HeadBoardRouteNo != '0' && orientationmode == 1" style="height: 100%;">
        <table style="width: 100%; padding-bottom: 10px">
            <tr>
                <td width="50%" ng-show="isUnderVisibleLimit($index)" class="pid-direction" ng-repeat="item in predictions">
                    <div style="margin-bottom:6px">{{getDirectionTitle($index)}}</div>
                </td>
            </tr>
        </table>
        <table class="pid-table-landscape">
            <tr>
                <td class="pid-table-cell-landscape" ng-repeat-start="item in predictions" ng-show="isUnderVisibleLimit($index)">
                    <textarea ng-show="false">no of pages - {{numofpages}}</textarea>
                    <textarea ng-show="false">current page - {{currentpage}}</textarea>
                    <textarea ng-show="false" class="isReadyForRefreshLandscape">{{isready}}</textarea>
                    <pid index="{{$index}}" predictionscount="predictions.length"
                         prediction="item"
                         stopname="stopname" citydirection="citydirection" isinfreezone="isinfreezone" createdtime="createdtime" lastindex="lastindex" predictionslength="predictionslength"
                         distance="distance" directionimage="directionimage"
                         haserror="haserror" errormessage="errormessage"
                         pagedpredictions="pagedpredictions" numofpages="numofpages" currentpage="currentpage" orientationmode="orientationmode"
                         isready="isready" numoflines="numoflines" />
                </td>
                <td style="width: 6px; background-color: black" ng-repeat-end ng-show="isUnderVisibleLimit($index) && !isOnePid($index) && isFirstPid($index)"></td>
            </tr>
        </table>
    </div>
    <div id="portrait" ng-show="predictions[0].Predictions[0].HeadBoardRouteNo != '0' && orientationmode == 2">
        <table class="pid-table" style="height: 100%; vertical-align: middle">
            <tr ng-repeat-start="item in predictions" width="100%">
                <td class="pid-table-cell-portrait" data-ng-show="isUnderVisibleLimit($index)">
                    <div class="pid-direction" style="vertical-align: middle" ng-style="{ 'height': !isFirstPid($index) ? '89px' : '', 'display': !isFirstPid($index) ? 'table-cell' : ''}">{{getDirectionTitle($index)}}</div>
                    <textarea ng-show="false">{{numofpages}}</textarea>
                    <textarea ng-show="false">{{currentpage}}</textarea>
                    <textarea ng-show="false" class="isReadyForRefreshPortrait">{{isready}}</textarea>
                    <pid index="{{$index}}" predictionscount="predictions.length"
                         prediction="item" name="pidName" description="pidDescription"
                         stopname="stopname" citydirection="citydirection" isinfreezone="isinfreezone" distance="distance" directionimage="directionimage"
                         haserror="haserror" errormessage="errormessage"
                         pagedpredictions="pagedpredictions" numofpages="numofpages" currentpage="currentpage" orientationmode="orientationmode"
                         isready=" isready" numoflines="numoflines" />
                </td>
            </tr>
            <tr ng-repeat-end ng-show="isUnderVisibleLimit($index) && !isOnePid($index) && isFirstPid($index)"><td style="height: 6px; background-color: black"></td></tr>
        </table>
    </div>
    <div id="nopredictions" ng-show="predictions[0].Predictions[0].HeadBoardRouteNo == '0'" ng-class="{'service-disruption-message-div-landscape' : orientationmode==1, 'service-disruption-message-div-portrait' : orientationmode==2}">
        {{predictions[0].Predictions[0].DisruptionMessage}}
    </div>
    <div id="marquee" style="height: 89px; line-height: 89px; display: block" class="marquee generic"></div>
    <pidfooter createdtime="createdtime"/>
</div>
 
 