﻿<div ng-attr-id="{{idForPidBodyArrivalsView(orientationmode)}}">
    <table style="width:100%">
        <tr> 
            <td>
                <table ng-class="{'prediction-table-single': isTheOnlyPid(), 'prediction-table': !isTheOnlyPid()}"
                       ng-show="!showdisruption && !showspecialevent && pagedpredictions.length > 0">
                    <thead>
                        <tr>
                            <th id="route-heading">Route</th>
                            <th id="destination-heading">To</th>
                            <th id="arrival-time-heading">Next</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'arrival-row' : orientationmode==1, 'arrival-row-portrait' : orientationmode==2}" ng-repeat="item in pagedpredictions">
                            <td class="inner-route-cell">
                                <div ng-show="item.HeadBoardRouteNo.length > 3" class="route-cell-small"><span style="vertical-align: middle">{{item.HeadBoardRouteNo}}</span></div>
                                <div ng-show="item.HeadBoardRouteNo.length <= 3" class="route-cell"><span style="vertical-align: middle">{{item.HeadBoardRouteNo}}</span></div>
                            </td>
                            <td class="inner-destination-cell">{{ item.Destination }}</td>
                            <td class="arrival-time-cell" style="height: 117px;">
                                <table class="icons-table">
                                    <tbody>
                                    <tr class="icon-row" style="height:47px">
                                        <td class="icons-cell"><img ng-show="{{item.IsLowFloorTram}}" src="Images/low-floor.png"/></td>
                                        <td class="icons-cell"><img ng-show="{{item.HasDisruption}}" src="Images/disruption.png"/></td>
                                        <td class="icons-cell"><img ng-show="{{item.HasSpecialEvent}}" src="Images/special-event.png"/></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div ng-show="item.PredictedArrivalDateTimeString.length > 3" class="arrival-cell-small"><span style="vertical-align: middle">{{item.PredictedArrivalDateTimeString}}</span></div>
                                <div ng-show="item.PredictedArrivalDateTimeString.length <= 3" class="arrival-cell"><span style="vertical-align: middle">{{item.PredictedArrivalDateTimeString}}</span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>