﻿<style>
    /*body {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
    }

    html {
        width: 100%;
        height: 100%;
    }*/

    /*canvas {
        display: block;
    }

    img {
        max-width: 100%;
        height: auto;
    }*/
</style>


<body>
    <canvas id="disruptionCanvas" text="{{disruptionmessage}}" style="background-color: yellow"></canvas>
</body>
 

 
