﻿<div id="pid-header">
    <table id="pid-header-table">
        <tr>
            <td class="pid-header-table-cell-left">
                <img src="Images/yarratrams.png" alt="Yarra Trams"/>
            </td>
            <td class="pid-header-table-cell-right">
                <div>
                    <img src="Images/ptv.png" alt="PTV"/>
                </div>
            </td>
        </tr>
    </table>
    <div class="header-placeholder-1"></div>
    <img src="Images/trams.png" alt="Trams" width="161" height="189" style="position: absolute; right: 0; margin-top: 7px" />
    <table id="pid-header-direction-table" style="margin-bottom: 10px;">
        <tr>
            <td style="">
                <div class="distance">Trams {{distance}}m<img style="margin-bottom: 18px" ng-src="{{directionimage}}" alt="direction"/></div>
                <div class="stop-name">{{name}}</div>
            </td>
        </tr>
    </table>
    <div class="header-placeholder-2"></div>
</div>