﻿@using System.Collections
@using PagedList.Mvc
@using WebPids.EntityFramework
@using PagedList.Mvc

@{
    ViewBag.Title = "Train Station PID Errors";
}

<div style="padding-bottom:20px">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("Index", "PidsError"))
{
    <p>
        Find by PID ID : @Html.TextBox("SearchString")
        <input type="submit" class="btn btn-default" value="Search" />
    </p>
}
<div>
    <div id="errorDiv">
        @{
            Html.RenderAction("InitErrorList", 1);
        }
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



