﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 1600px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#modal-container {
    padding-right: 40em;
    padding-left: 40em; 
	margin-left: 1em;
	margin-right: 1em; 
}

/*Validation Errors*/
.input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #FF0000;
    }
.validation-summary-valid
{
    display:none;
}
.tbody-small-grid
{   
    padding: 2px;
}
.btn-small-grid
{
    border: 3px;
    padding: 3px 15px;
}
.btn-tiny-grid
{
    border: 3px;
    padding: 3px 15px;
    font-size: 12px;
}
.fixed-size-control
{
    max-width: 280px;
    min-width: 174px;
    max-height: 27px;
}
.tiny-grid > tbody > tr > td
{   
    padding: 1px;
    font-size: 12px;
}
.small-grid > tbody > tr > td {
    padding: 3px;
    font-size: 13px;
}
.pidhealth-top-left-pane
{
    width:48%; 
    float:left
}
.pidhealth-bottom-left-pane {
    width: 50%;
    float: left;
    clear: left;
}
.pidhealth-top-right-pane
{
    width: 48%; 
    margin-left: 52%;
    padding-top:25px;
    padding-bottom:25px
}
.pidhealth-bottom-right-pane
{
    width: 50%; 
    margin-left: 52%
}
legend.pidhealth {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight:bold;
    border-bottom: 1px solid;
}
.bold-font{
    font-weight:bold
}
.pidhealth-modal-header {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}
.pidhealth-modal-body {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #e5e5e5;
}
.hidden{
    display: none;
}
.scrollable-stop-list{
    overflow-y: auto;
    height: 190px;
}
.fixed-table{
    table-layout: fixed;
    width:auto;
}
.wrap-td{
    word-wrap:break-word;
    max-width:1000px
}
.container {
    width: 1600px;
}
