﻿@{
    ViewBag.Title = "PIDs History Report";
    bool showDayWeekMonth = (bool)ViewBag.ShowDayWeekMonth;
    bool showAllPIDs = string.Equals(ViewBag.NetworkType, "all", StringComparison.OrdinalIgnoreCase);
    bool showEthernetPIDs = string.Equals(ViewBag.NetworkType, "ethernet", StringComparison.OrdinalIgnoreCase);
    bool show3gPIDs = string.Equals(ViewBag.NetworkType, "3g", StringComparison.OrdinalIgnoreCase);
}

@model IList<WebPids.Web.Maintenance.ViewModels.PidHistoryViewModel>

    <h2>@ViewBag.Title</h2>
    <br />
@using (Html.BeginForm("Index", "PidsHistory"))
{
    <div class="input-daterange input-group" id="datepicker" style="width:450px;float:left;padding-right:50px">
        <span class="input-group-addon">From:</span>
        <input type="text" class="form-control" name="fromDateString" id="fromDateString" />
        <span class="input-group-addon">To:</span>
        <input type="text" class="form-control" name="toDateString" id="toDateString" />
    </div>
    <div style="vertical-align:top">
        <span style="padding-right:8px;">Network Type: </span>
        <select name="network" id="network">
            <option value="all">All</option>
            <option value="ethernet">Ethernet</option>
            <option value="3g">3G</option>
        </select>
        <input type="submit" class="btn btn-default" value="Search" style="padding-top:0px; margin:20px; height:27px" />
    </div>
}
    
    <div id="chartContainer" style="width:100%; height:1200px;"></div>
    @*<br />*@

    @if(showAllPIDs || showEthernetPIDs)
    { 
    <h3>Ethernet PIDs</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th colspan="3" style="text-align: center">Number of Incidents</th>
                <th></th>
                <th colspan="3" style="text-align: center">Down Time (Minutes)</th>
                <th></th>
                <th colspan="3" style="text-align: center">Availability (%)</th>
            </tr>
            <tr>
                <th>PID ID</th>
                <th>Description</th>
            @if (showDayWeekMonth)
            {
                <th style="text-align: center">Day</th>
                <th style="text-align: center">Week</th>
                <th style="text-align: center">Month</th>
                <th></th>
                <th style="text-align: center">Day</th>
                <th style="text-align: center">Week</th>
                <th style="text-align: center">Month</th>
                <th></th>
                <th style="text-align: center">Day</th>
                <th style="text-align: center">Week</th>
                <th style="text-align: center">Month</th>
            }
            else
            {
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            }
            </tr>
        </thead>
        <tbody>
            @foreach (var pidHistory in Model)
            {
                if (pidHistory.IsEthernet)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => pidHistory.PidId)</td>
                    <td>@Html.DisplayFor(modelItem => pidHistory.PidDescription)</td>
                @if (showDayWeekMonth)
                {
                    <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.NumberOfIncidentsLastDay)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.NumberOfIncidentsLastWeek)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.NumberOfIncidentsLastMonth)</td>
                    <td></td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.DownTimeLastDay)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.DownTimeLastWeek)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.DownTimeLastMonth)</td>
                    <td></td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.AvailabilityLastDay)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.AvailabilityLastWeek)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.AvailabilityLastMonth)</td>
                }
                else
                {
                    <td colspan="3" style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.NumberOfIncidentsForDuration)</td>
                    <td></td>
                    <td colspan="3" style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.DownTimeForDuration)</td>
                    <td></td>
                    <td colspan="3" style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.AvailabilityForDuration)</td>
                }
                </tr>
                }
            }
        </tbody>
    </table>
    <br />   
    }
    
    @if(showAllPIDs || show3gPIDs)
    {
    <h3>3G PIDs</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th colspan="3" style="text-align: center">Number of Incidents</th>
                <th></th>
                <th colspan="3" style="text-align: center">Down Time (Minutes)</th>
                <th></th>
                <th colspan="3" style="text-align: center">Availability (%)</th>
            </tr>
            <tr>
                <th>PID ID</th>
                <th>Description</th>
                @if (showDayWeekMonth)
                {
                    <th style="text-align: center">Day</th>
                    <th style="text-align: center">Week</th>
                    <th style="text-align: center">Month</th>
                    <th></th>
                    <th style="text-align: center">Day</th>
                    <th style="text-align: center">Week</th>
                    <th style="text-align: center">Month</th>
                    <th></th>
                    <th style="text-align: center">Day</th>
                    <th style="text-align: center">Week</th>
                    <th style="text-align: center">Month</th>
                }
                else
                {
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var pidHistory in Model)
            {
                if (!pidHistory.IsEthernet)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => pidHistory.PidId)</td>
                        <td>@Html.DisplayFor(modelItem => pidHistory.PidDescription)</td>
                        @if (showDayWeekMonth)
                        {
                            <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.NumberOfIncidentsLastDay)</td>
                            <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.NumberOfIncidentsLastWeek)</td>
                            <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.NumberOfIncidentsLastMonth)</td>
                            <td></td>
                            <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.DownTimeLastDay)</td>
                            <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.DownTimeLastWeek)</td>
                            <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.DownTimeLastMonth)</td>
                            <td></td>
                            <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.AvailabilityLastDay)</td>
                            <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.AvailabilityLastWeek)</td>
                            <td style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.AvailabilityLastMonth)</td>
                        }
                        else
                        {
                            <td colspan="3" style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.NumberOfIncidentsForDuration)</td>
                            <td></td>
                            <td colspan="3" style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.DownTimeForDuration)</td>
                            <td></td>
                            <td colspan="3" style="text-align: center">@Html.DisplayFor(modelItem => pidHistory.AvailabilityForDuration)</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    }

    @section scripts
    {
        <script>

            var pids = [];
            var availability = [];
            var incidents = [];

            pids.length = 0;
            availability.length = 0;
            incidents.length = 0;

            @foreach (var p in ViewBag.Pids)
            {
                @:pids.push("@p");
            }

            @foreach (var a in ViewBag.Availability)
            {
                @:availability.push(@a);
            }

            @foreach (var i in ViewBag.Incidents)
            {
                @:incidents.push(@i);
            }

            $(function () {

                var myConfig = {
                    "type": "bar",
                    //"scaleX": {
                    //    "labels": pids,
                    //    "item": {
                    //        "angle": -90
                    //    },
                    //},
                    "legend": {
                        "margin": "10px auto auto auto",
                        "toggle-action": "remove",
                        "shadow": false,
                        "border-radius": 4,
                        "background-color": "#ffffff",
                        "border-color": "#ffffff",
                        "layout": "float"
                    },
                    "plotarea": {
                        "margin-bottom": "40%"
                    },
                    "scale-x":{  
                        "values": pids,
                        "items-overlap":true,  
                        "item":{  
                            "font-angle":-90,  
                            "auto-align": true
                        },
                    },
                    "scale-y": {
                        "label": {
                            "text": "Availability (%)"
                        }
                    },
                    "scale-y-2": {
                        "label": {
                            "text": "Number of incidents"
                        }
                    },
                    "series": [
                      {
                          "values": availability,
                          "scales": "scale-x,scale-y",
                          "background-color": "#36b574",
                          "text": "Availability (%)",
                          "legend-marker": {
                              "border-color": "#36b574"
                          }
                      },
                      {
                          "values": incidents,
                          "scales": "scale-x,scale-y-2",
                          "background-color": "#ff0000",
                          "text": "Number of incidents",
                          "legend-marker": {
                              "border-color": "#ff0000"
                          }
                      }
                    ],
                    "tooltip": {
                        "text": "%t - %v : PID %k",
                        "shadow": false,
                        "border-radius": 4
                    }
                };

                zingchart.render({
                    id: 'chartContainer',
                    data: {
                        graphset: [myConfig]
                    },
                    height: 1200,
                    autoResize: true
                });

                //Code for highcharts. This can be used if we decide to use Highcharts.

                //$('#chartContainer').highcharts({
                //    chart: {
                //        type: 'column'
                //    },
                //    title: {
                //        text: 'TSPIDs Performance'
                //    },
                //    xAxis: {
                //        categories: pids
                //    },
                //    yAxis: [{
                //        opposite: true,
                //        title: {
                //            text: 'Number of incidents'
                //        }
                //    }, {
                //        max: 100,
                //        title: {
                //            text: 'Availability (%)',
                //        }
                //    }],
                //    series:
                //    [
                //        {
                //            name: 'Availability (%)',
                //            color: '#00a779',
                //            data: availability,
                //            yAxis: 1,
                //        },
                //        {
                //            name: 'Number of incidents',
                //            color: '#000000',
                //            data: incidents
                //        }
                //    ],
                //    credits: {
                //        enabled: false
                //    }
                //});

                //datepicker
                $('.input-daterange').datepicker({
                    format: 'dd/mm/yyyy'
                });

                $('#fromDateString').val('@ViewBag.FromDate');
                $('#toDateString').val('@ViewBag.ToDate');
                $('#network').val('@ViewBag.NetworkType');
            });
        </script>
    }
