﻿@model WebPids.EntityFramework.GlobalSetting


<div class="modal-dialog">
    @using (Html.BeginForm("CreateNew", "GlobalSettings"))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Create a Global Setting</h3>
            <hr />
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="modal-body">
            <fieldset>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Name", new { @class = "col-lg-6 control-label" })
                    <div class="col-lg-6">
                        @Html.EditorFor(model => model.Name, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Value, "Value", new { @class = "col-lg-6 control-label" })
                    <div class="col-lg-6">
                        @Html.EditorFor(model => model.Value, new { @class = "form-control" })
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Create New</button>
        </div>
    }
</div>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
