﻿@model WebPids.EntityFramework.GlobalSetting

<div class="modal-dialog">
    @using (Html.BeginForm("DeleteGlobalSetting", "GlobalSettings"))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Create a Display Style</h3>
            <hr />
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="modal-body">
            <fieldset>
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Name", new { @class = "col-lg-6 control-label" })
                    <div class="col-lg-6">
                        @Html.DisplayFor(model => model.Name)
                        @Html.HiddenFor(model => model.Name)
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Value, "Description", new { @class = "col-lg-6 control-label" })
                    <div class="col-lg-6">
                        @Html.DisplayFor(model => model.Value)
                        @Html.HiddenFor(model => model.Value)
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    }
</div>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
