﻿@model WebPids.EntityFramework.GlobalSetting


<div class="modal-dialog">
    @using (Html.BeginForm("EditGlobalSetting", "GlobalSettings", FormMethod.Post, new Dictionary<string, object>{{"id", "EditGlobalSettings"}}))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Edit a Global Setting</h3>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="modal-body">
            <fieldset>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Name)
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Value, "Ticker Message", new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-9">
                        @if (Model.Name == "GenericMessageEnabled")
                        {
                            bool genericMessageEnabledBool = Convert.ToBoolean(Model.Value);
                            @Html.CheckBoxFor(modelItem => genericMessageEnabledBool, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.Value);
                        }
                        else if (Model.Name == "GenericMessage")
                        {
                            @Html.TextAreaFor(modelItem => modelItem.Value, new { @class = "form-control", @rows=10, @cols=50, @style="max-width:500px", @maxlength="200" })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Value, new {@class = "form-control"})
                        }

                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" onclick="confirmUpdate()" class="btn btn-primary">Save</button>
        </div>
    }
</div>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script>
    function confirmUpdate() {
        if (confirm("Are you sure you wish to update setting[@Model.Name]?  They will be applied to all TSPIDs in the next fifteen seconds.")) {
            @if (Model.Name == "GenericMessageEnabled")
            {
                <text>
            if($('#genericMessageEnabledBool').prop('checked')){
                        $('#Value').attr('value', 'True');
                    }
                    else
                    {
                        $('#Value').attr('value', 'False');
                    }
                
                </text>
                
            }
            $("#EditGlobalSettings").submit();
            }
    }
</script>