﻿@{
    ViewBag.Title = "Train Station PID's Ticker Maintenance";
}
@using PagedList.Mvc
@model PagedList.IPagedList<WebPids.EntityFramework.GlobalSetting>


<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<table class="table table-striped table-hover fixed-table">
    <thead>
        <tr>
            <th>Ticker Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            if (obj.Name == "GenericMessageEnabled")
            {
                continue;
            }
            if (obj.Name == "ServiceUnavailableMessage")
            {
                continue;
            }
            if (obj.Name == "TestUrl")
            {
                ViewBag.TestUrl = obj.Value;
                continue;
            }
            
            <tr>
                <td class="wrap-td">@Html.DisplayFor(modelItem => obj.Value)</td>

                @if (!MvcApplication.IsUserReadOnly(User.Identity.Name))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", "GlobalSettings", obj, new { @class = "modal-link btn btn-default" })
                    </td>
                }

            </tr>
        }
    </tbody>
</table>

<br />

<a href="@string.Format("{0}1",ViewBag.TestUrl)" target="_blank" onclick="window.open(this.href, 'Preview', 'resizable,left=100,top=100,width=1720,height=780'); return false;">View Production PID</a>





