﻿@model WebPids.EntityFramework.Configuration


<div class="modal-dialog">
    <div class="modal-header pidhealth-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>

    <div class="modal-body pidhealth-modal-header">
        <fieldset>
            <legend class="pidhealth">PID Details</legend>
            <div>
                <span class="bold-font">PID ID: </span>@Html.DisplayFor(model => model.Id), <span class="bold-font"> Asset Location No: </span> @Html.DisplayFor(model => model.PIDAssetLocationNo), <span class="bold-font"> Station: </span>@Html.DisplayFor(model => model.StationName), <span class="bold-font"> Location: </span>@Html.DisplayFor(model => model.Description), <span class="bold-font"> Network: </span> @Html.DisplayFor(model => model.NetworkName), <span class="bold-font"> Orientation: </span>@Html.DisplayFor(model => model.OrientationMode)
            </div>
        </fieldset>
        <fieldset>
            <legend class="pidhealth">List of Errors</legend>
            <div>
                <div id="errorDiv">
                    @{
                        Html.RenderAction("InitErrorList", new { model = Model.Errors });
                    }
                </div>

            </div>
        </fieldset>
    </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
</div>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


