﻿@using System.Collections
@using PagedList.Mvc
@using WebPids.EntityFramework

@using (Html.BeginForm())
{
    <table class="table table-striped table-hover small-grid">
        <thead>
            <tr>
                <th width="200px">Time</th>
                <th width="600px">Error</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PidsElevatedLog error in ViewBag.Errors)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => error.Date)</td>
                    <td>@Html.DisplayFor(modelItem => error.Message)</td>
                </tr>
            }
        </tbody>
    </table>


    <div id="pager">
        @Html.PagedListPager((PagedList.IPagedList)ViewBag.Errors, page => Url.Action("GetErrorList", new { page }))
    </div>
}

<script type="text/javascript">
    $(function () {
        // pagination click
        $("#pager").on("click", "a", function () {
            if (this.href !== "")
            {
                // invoke only if we have more than one page
                $.ajax({
                    url: this.href,
                    type: "GET",
                    cache: false,
                    async: false,
                    success: function (result) {
                        $("#errorDiv").html(result);
                    }
                });
            }
            return false;
        });
    });
</script>

