﻿@model IList<WebPids.EntityFramework.Configuration>

<h4>@ViewBag.LastUpdated</h4>
<div class="pidhealth-bottom-left-pane">
    <table class="table table-striped table-hover tiny-grid">
        <tr>
            <th align="center">@Html.ActionLink("PID Id", "Index", new { sortColumn = ViewBag.IdSortParm, searchString = ViewBag.CurrentFilter, refreshRate = ViewBag.RefreshRate })</th>
            <th align="center">Station</th>
            <th align="center">Last Updated</th>
            <th align="center">Last Heard (min)</th>
            <th align="center">Network</th>
            <th align="center">@Html.ActionLink("Heath", "Index", new { sortColumn = ViewBag.HealthStatusSortParam, searchString = ViewBag.CurrentFilter, refreshRate = ViewBag.RefreshRate })</th>
            <th></th>
        </tr>
        @for (int i = 0; i < (Model.Count + 1) / 2; i++)
    {
        var config = Model[i];
    <tr>
        <td align="center">@Html.DisplayFor(modelItem => config.Id)</td>
        <td align="center">@Html.DisplayFor(modelItem => config.StationName)</td>
        <td align="center">@Html.DisplayFor(modelItem => config.HeartbeatLastUpdatedTime)</td>
        <td align="center">@Html.DisplayFor(modelItem => config.MinutesSinceLastUpdate)</td>
        <td align="center">@Html.DisplayFor(modelItem => config.NetworkName)</td>
        <td bgcolor="@config.HealthStatus.HtmlColor">@Html.DisplayFor(modelItem => config.HealthStatus.Text)</td>
        <td>
            @Html.ActionLink("Details", "Details", config, new { @class = "modal-link btn btn-default btn-tiny-grid" })
        </td>
    </tr>
    }
    </table>
</div>
<div class="pidhealth-bottom-right-pane">
    <table class="table table-striped table-hover tiny-grid">
        <tr>
            <th align="center">@Html.ActionLink("PID Id", "Index", new { sortColumn = ViewBag.IdSortParm, searchString = ViewBag.CurrentFilter, refreshRate = ViewBag.RefreshRate })</th>
            <th align="center">Station</th>
            <th align="center">Last Updated</th>
            <th align="center">Last Heard (min)</th>
            <th align="center">Network</th>
            <th align="center">@Html.ActionLink("Heath", "Index", new { sortColumn = ViewBag.HealthStatusSortParam, searchString = ViewBag.CurrentFilter, refreshRate = ViewBag.RefreshRate })</th>
            <th></th>
        </tr>

        @for (int i = (Model.Count + 1) / 2; i < Model.Count; i++)
    {
        var config = Model[i];
    <tr>
        <td align="center">@Html.DisplayFor(modelItem => config.Id)</td>
        <td align="center">@Html.DisplayFor(modelItem => config.StationName)</td>
        <td align="center">@Html.DisplayFor(modelItem => config.HeartbeatLastUpdatedTime)</td>
        <td align="center">@Html.DisplayFor(modelItem => config.MinutesSinceLastUpdate)</td>
        <td align="center">@Html.DisplayFor(modelItem => config.NetworkName)</td>
        <td bgcolor="@config.HealthStatus.HtmlColor">@Html.DisplayFor(modelItem => config.HealthStatus.Text)</td>
        <td>
            @Html.ActionLink("Details", "Details", config, new { @class = "modal-link btn btn-default btn-tiny-grid" })
        </td>
    </tr>
    }
    </table>
</div>



