﻿@{
    ViewBag.Title = "PIDS Health Check";
}
@using PagedList.Mvc
@model IList<WebPids.EntityFramework.Configuration>

<div class="pidhealth-top-left-pane">
    <h3>@ViewBag.Title</h3>

</div>
<div class="pidhealth-top-right-pane">
    @using (Html.BeginForm())
    {
        <span>
            Filter by PID Health : @Html.DropDownList("SearchString", new SelectList(Model.GetHealthStatuses(), "Text", "Text"), new { @onchange = "submitform();" })
        </span>
        <span style="padding-left:20px">
            Refresh Rate : @Html.DropDownList("RefreshRate", Model.GetRefreshRates(), new { @onchange = "submitform();" })
        </span>
    }
</div>

<div id="pidStatus">
    @Html.Partial("HealthStatus", Model)
</div>
<br />
@section scripts
{
    <script type="text/javascript">
    $(function () {
        setInterval(function () { $('#pidStatus').load('PidsHealth/RefreshStatus?searchString=@ViewBag.CurrentFilter&refreshRate=@ViewBag.RefreshRate&sortColumn=@ViewBag.CurrentSort'); }, '@ViewBag.RefreshRate');
    });
    function submitform() {
        $('form').submit();
    }

    </script>
}



