﻿@using System.Web.UI.WebControls
<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WebPIDs Maintenance Module</title>
    <base href="@Url.Content("~/")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("Update Ticker", "Index", "GlobalSettings", null, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("PID Configuration", "Index", "PidsConfiguration", null, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("Audit Logs", "Index", "PidsActivity", null, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("PID Health", "Index", "PidsHealth", null, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("PID History Report", "Index", "PidsHistory", null, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("PID Errors", "Index", "PidsError", null, new { @class = "navbar-brand" })</li>
                <li><a href="http://10.0.205.21:8980/opennms/login.jsp" target="_blank" class="navbar-brand" title="Metromatics openNMS">PID Hardware</a></li>
            </ul>
            <p class="nav navbar-text navbar-right">Welcome, @User.Identity.Name</p>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        @if (!@MvcApplication.IsUserReadOnly(@User.Identity.Name))
        {
            <p>You are connected to database @MvcApplication.DatabaseName</p>
            <p>This website requires Chrome browser.</p>
        }
        else
        {
            <p>You are connected to database @MvcApplication.DatabaseName in <b>readonly</b> mode</p>
        }
    </footer>
</div>


<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/highcharts")
@Scripts.Render("~/bundles/zingchart")
@RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $(function () {
        // Initialize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
        $("body").on("click", ".modal-link", function (e) {
            e.preventDefault();
            $(this).attr("data-target", "#modal-container");
            $(this).attr("data-toggle", "modal");
            $(this).attr("data-backdrop", "static");
            $(this).attr("data-keyboard", "false");
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $("body").on("click", ".modal-close-btn", function () {
            $("#modal-container").modal("hide");
        });

        //clear modal cache, so that new content can be loaded
        $("#modal-container").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
        $("#CancelModal").on("click", function () {
            return false;
        });
    });
</script>



