﻿@model WebPids.EntityFramework.Configuration
 

<div class="modal-dialog">
    @using (Html.BeginForm("CreateNew", "PidsConfiguration", FormMethod.Post, new { id = "createConfigForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Create a PIDS Configuration</h3>
            <hr/>
        </div>
                
        <div class="modal-body">
                <fieldset>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Id, "PID Id", new { @class = "col-lg-6 control-label", @title = "Unique PID Number for the TSPID application" })
                        <div class="col-lg-6">
                            @Html.Label(Model.Id.ToString(), new { @class = "col-lg-6 control-label" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.StationName, "Station Name", new { @class = "col-lg-6 control-label", @title = "Street upon which the tram stop is located" })
                        <div class="col-lg-6">
                            @Html.TextBoxFor(model => model.StationName, new { @class = "form-control fixed-size-control", @title = "Street upon which the tram stop is located" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.PIDAssetLocationNo, "PID Asset Location No", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.TextBoxFor(model => model.PIDAssetLocationNo, new { @class = "form-control fixed-size-control" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, "PID Location", new { @class = "col-lg-6 control-label", @title = "Location of the physical PID eg. Swanston Street/Prince Bridge exit" })
                        <div class="col-lg-6">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control fixed-size-control", @title = "Location of the physical PID eg. Swanston Street/Prince Bridge exit" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.NetworkName, "Network Connectivity", new { @class = "col-lg-6 control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.NetworkName, Model.GetNetworkNames(), new { @class = ".fixed-length-input" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayOrderId, "Display Order", new { @class = "col-lg-6 control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.DisplayOrderId, new SelectList(Model.GetDisplayOrders(), "Id", "Name"))
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.OrientationMode, "Orientation (Note this value is manually configured on PID by ICT-Dev team.)", new { @class = "col-lg-6 control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.OrientationMode, new SelectList(Model.GetOrientationModes()))
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Enabled, "Enabled?", new {@class = "col-lg-6 control-label"})
                        <div>
                            @Html.EditorFor(model => model.Enabled, new { @class = "form-control" })
                        </div>
                    </div>
                </fieldset>
        </div>
        <div class="modal-footer">
            @*<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>*@
            <button type="button" class="btn btn-default" onclick=" cancel('createConfigForm'); ">Cancel</button>
            <button type="submit" class="btn btn-primary">Create New</button>
        </div>
    }
</div>


@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    // cancel or close the dialog
    function cancel(dialogname) {
        $("#" + dialogname).modal("hide");
    }
</script>
