﻿@model WebPids.EntityFramework.Stop



<div class="modal-dialog">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createStopForm" }))
    {
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" onclick=" cancel('createStop'); ">x</button>
                <h4 class="modal-title">Create Stop</h4>
            </div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        @Html.HiddenFor(model => model.ConfigurationId)
                        @Html.LabelFor(model => model.TrackerId, "Tracker Id", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.TrackerId, new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayTitle, "Street Name", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.DisplayTitle, new {@class = "form-control"})
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Distance, "Distance (in meters)", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.Distance, new {@class = "form-control"})
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Direction, "Direction", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.DropDownListFor(model => model.Direction, new SelectList(Model.GetDirections(), "Id", "Direction1"))
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(null);" class="btn btn-default" onclick=" cancel('createStop'); ">Cancel</a>
                <button type="submit" class="btn btn-primary" id="createNewStop">Save</button>
            </div>
        </div>
    }
</div> 
 
