﻿@model WebPids.EntityFramework.Configuration


<div class="modal-dialog">
    @using (Html.BeginForm("DeleteConfiguration", "PidsConfiguration"))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Are you sure you want to delete the following PIDS Configuration?</h3>
        </div>

        <div class="modal-body">
            <fieldset>
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Id, "PID Id", new { @class = "col-lg-6 control-label", @title = "Unique PID Number for the TSPID application" })
                    <div class="col-lg-6">
                        @Html.Label(Model.Id.ToString())
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.StationName, "Station Name", new { @class = "col-lg-6 control-label", @title = "Street upon which the tram stop is located" })
                    <div class="col-lg-6">
                        @Html.DisplayFor(model => model.StationName, new { @title = "Street upon which the tram stop is located" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.PIDAssetLocationNo, "PID Asset Location No", new { @class = "col-lg-6 control-label" })
                    <div class="col-lg-6">
                        @Html.DisplayFor(model => model.PIDAssetLocationNo)
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, "PID Location", new { @class = "col-lg-6 control-label", @title = "Location of the physical PID eg. Swanston Street/Prince Bridge exit" })
                    <div class="col-lg-6">
                        @Html.DisplayFor(model => model.Description, new { @title = "Location of the physical PID eg. Swanston Street/Prince Bridge exit" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.NetworkName, "Network Name", new { @class = "col-lg-6 control-label" })
                    <div class="col-lg-6">
                        @Html.DisplayFor(model => model.NetworkName)
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.OrientationMode, "Orientation", new { @class = "col-lg-6 control-label" })
                    <div class="col-lg-6">
                        @Html.DisplayFor(model => model.OrientationMode)
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    }
</div>


