﻿@model WebPids.EntityFramework.Stop

<div class="modal-dialog">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "deleteStopForm" }))
    {
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" onclick=" cancel('deleteStop'); ">x</button>
                <h4 class="modal-title">Delete Stop</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.ConfigurationId)
                    <div class="form-group">
                        @Html.LabelFor(model => model.TrackerId, "Tracker Id", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.DisplayFor(model => model.TrackerId)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayTitle, "Street Name", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.DisplayFor(model => model.DisplayTitle, new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Distance, "Distance (in meters)", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.DisplayFor(model => model.Distance, new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Direction, "Direction", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.DropDownListFor(model => model.Direction, new SelectList(Model.GetDirections(), "Id", "Direction1"), new { @disabled = "disabled" })
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(null);" class="btn btn-default" onclick=" cancel('deleteStop'); ">Cancel</a>
                <button type="button" class="btn btn-primary" id="killStop" onclick=" onDeleteStop(); return false; ">Delete</button>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        // Remove a stop
        $("#removeStop").click(function (e) {
            var htmldata = "";
            // perform operation
            $.ajax({
                type: "POST",
                url: this.href,
                async: false,
                success: function(result) {
                    htmldata = result;
                }
            });

            // refresh screen
            $("#deleteStop").html(htmldata);
            cancel("deleteStop");

            return false;
        });
    });
</script>
