﻿@model WebPids.EntityFramework.Configuration


<div class="modal-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>PIDS Configuration</h3>
            <hr />
        </div>

        <div class="modal-body">
            <fieldset>
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.PIDName, "PID Name", new { @class = "col-lg-6 control-label" })
                    <div class="col-lg-6">
                        @Html.DisplayFor(model => model.PIDName)
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, "Description", new { @class = "col-lg-6 control-label" })
                    <div class="col-lg-6">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    @Html.LabelFor(model => model.NetworkName, "Network Name", new { @class = "col-lg-6 control-label" })
                    <div class="col-lg-6">
                        @Html.DisplayFor(model => model.NetworkName)
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.OrientationMode, "Orientation", new { @class = "col-lg-6 control-label" })
                    <div class="col-lg-6">
                        @Html.DisplayFor(model => model.OrientationMode)
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    }
</div>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


