﻿@model WebPids.EntityFramework.Stop



<div class="modal-dialog">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editStopForm" }))
    {
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" onclick=" cancel('editStop'); ">x</button>
                <h4 class="modal-title">Edit Stop</h4>
            </div>
            @Html.ValidationSummary(false, "", new {@class = "text-danger"})
            <div class="modal-body">
                <fieldset>
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.ConfigurationId)
                    <div class="form-group">
                        @Html.LabelFor(model => model.TrackerId, "Tracker Id", new {@class = "col-lg-6 control-label"})
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.TrackerId, new { @class = "form-control", @maxlength = "6" })
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayTitle, "Street Name", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.DisplayTitle, new { @class = "form-control", @maxlength = "100" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Distance, "Distance (in meters)", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.Distance, new { @class = "form-control", @maxlength = "4" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Direction, "Direction", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.DropDownListFor(model => model.Direction, new SelectList(Model.GetDirections(), "Id", "Direction1"))
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(null);" class="btn btn-default" onclick=" cancel('editStop'); ">Cancel</a>
                <button type="button" class="btn btn-primary" id="saveStop" onclick="onSaveStop(); return false;">Save</button>
            </div>
        </div>
    }
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    // save the stop
    function onSaveStop() {
        debugger;
        var valid = $("#editStopForm").valid();

        if (valid) {
            var url = getBaseUrl(document.location) + "/UpdateStop";
            var htmldata;
            // perform operation
            $.ajax({
                url: url,
                type: "POST",
                async: false,
                data: $("#editStopForm").serialize()
            });

            url = getBaseUrl(document.location) + "/Edit";

            // get the parent screen data
            $.ajax({
                url: url,
                type: "GET",
                data: $("#editConfigurationForm").serialize(),
                async: false,
                success: function (result) {
                    htmldata = result;
                }
            });

            // refresh screen
            cancel("editStop");
            $("#editConfigurationDlg").html(htmldata);
            $("#editConfigurationDlg").find(".modal-backdrop").remove();
        }
    }
</script>
