﻿@model WebPids.EntityFramework.Configuration

<div class="modal-dialog" id="editConfigurationDlg">
    @using (Html.BeginForm("EditConfiguration", "PidsConfiguration", FormMethod.Post, new { id = "editConfigurationForm" }))
    {
            <div class="modal-header">
                <h4 class="modal-title">Modify a PIDS Configuration</h4>
            </div>

            @Html.HiddenFor(model => model.MonitorHeartBeat)
            @Html.HiddenFor(model => model.HeartbeatLastUpdatedTime)
            @Html.HiddenFor(model => model.MonitorPageProcessing)
            @Html.HiddenFor(model => model.PageProcessingTimeTaken)

            <div class="modal-body">
                <fieldset>
                    <div id="errorSummary" class="validation-summary-errors text-danger" />
                    <br />
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.PIDName)
                    @Html.HiddenFor(model => model.Distance)
                    @Html.HiddenFor(model => model.DirectionsId)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Id, "PID Id", new { @class = "col-lg-6 control-label", @title = "Unique PID Number for the TSPID application" })
                        <div class="col-lg-6">
                            @Html.Label(Model.Id.ToString(), new { @class = "col-lg-6 control-label" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.StationName, "Station Name", new { @class = "col-lg-6 control-label", @title = "Street upon which the tram stop is located" })
                        <div class="col-lg-6">
                            @Html.TextBoxFor(model => model.StationName, new { @class = "form-control fixed-size-control", @title = "Street upon which the tram stop is located", @maxlength = "50" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.PIDAssetLocationNo, "PID Asset Location No", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.TextBoxFor(model => model.PIDAssetLocationNo, new { @class = "form-control fixed-size-control", @maxlength = "15" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.VicTrackId, "VicTrack ID", new { @class = "col-lg-6 control-label" })
                        <div class="col-lg-6">
                            @Html.TextBoxFor(model => model.VicTrackId, new { @class = "form-control fixed-size-control", @maxlength = "14" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, "PID Location", new { @class = "col-lg-6 control-label", @title = "Location of the physical PID eg. Swanston Street/Prince Bridge exit" })
                        <div class="col-lg-6">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control fixed-size-control", @title =  Model.Description, @maxlength = "5000" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.NetworkName, "Network Connectivity", new { @class = "col-lg-6 control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.NetworkName, Model.GetNetworkNames(), new { @class = ".fixed-length-input" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayOrderId, "Display Order", new { @class = "col-lg-6 control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.DisplayOrderId, new SelectList(Model.GetDisplayOrders(), "Id", "Name"))
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.OrientationMode, "Orientation (Note this value is manually configured on PID by ICT-Dev team.)", new { @class = "col-lg-6 control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.OrientationMode, new SelectList(Model.GetOrientationModes()))
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Enabled, "Enabled?", new {@class = "col-lg-6 control-label"})
                        <div>
                            @Html.EditorFor(model => model.Enabled, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <br />
                    <div id="stopsCtrl">
                        @{
                            Html.RenderAction("InitStopsList", "PidsConfiguration", new {model = Model.Stops});
                        }
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancelConfig">Cancel</button>
                <button type="submit" class="btn btn-primary" id="saveConfig">Save</button>
            </div>
    }
</div>

<div class="modal fade" id="createStop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @{
        Html.RenderAction("RenderCreateStop", "PidsConfiguration", new { ConfigurationId = @Model.Id });
    }
</div>


<div class="modal fade" id="editStop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @{
        Html.RenderAction("RenderEditStop", "PidsConfiguration");
    }
</div>

<div class="modal fade" id="deleteStop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @{
        Html.RenderAction("RenderDeleteStop", "PidsConfiguration");
    }
</div>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Invoke to create a new stop in db
        $("#createNewStop").click(function (e) {
            var url = getBaseUrl(document.location) + "/CreateNewStop";
            var valid = $("#createStopForm").valid();
            if (valid) {
                var htmldata;
                $.ajax({
                    url: url,
                    type: "POST",
                    async: false,
                    data: $("#createStopForm").serialize()
                });

                url = getBaseUrl(document.location) + "/Edit";
                // get the edit config dialog html
                $.ajax({
                    url: url,
                    type: "GET",
                    data: $("#editConfigurationForm").serialize(),
                    async: false,
                    success: function (result) {
                        htmldata = result;
                    }
                });

                // repaint screen
                cancel("createStop");
                $("#editConfigurationDlg").html(htmldata);
                $("#editConfigurationDlg").find(".modal-backdrop").remove();
            }

            return false;
        });

        // Save an existing config
        $("#saveConfig").click(function (e) {
            //debugger;
            var valid = $("#editConfigurationForm").valid();
            if (valid) {
                $("#errorSummary").html("");
                var url = getBaseUrl(document.location) + "/EditConfiguration";
                // perform operation
                $.ajax({
                    url: url,
                    type: "POST",
                    async: false,
                    data: $("#editConfigurationForm").serialize(),
                    success: function () {
                        // reload parent
                        location.reload(true);
                    }
                });
            }
            else {
                // Show error
                $("#errorSummary").html("Please enter correct values for all fields before saving.");
            }


            return false;
        });

        // Cancel an existing config
        $("#cancelConfig").click(function (e) {
            location.reload(true);
            return false;
        });
    });

    function getBaseUrl(location) {
        return location.href.replace(location.search, "");
    }

    // cancel or close the dialog
    function cancel(dialogname) {
        $("#" + dialogname).modal("hide");
    }

    // close the dialog on validation
    function commit(dialogname) {
        if ($("#" + dialogname).$valid)
        {
            $("#" + dialogname).modal("hide");
        } else
        {
            return true;
        }
    }

    // launch the dialog
    function launch_modal(dialogname) {
        $("#" + dialogname).modal("show");
    }
     
    // delete the stop
    function onDeleteStop() {
        var valid = $("#deleteStopForm").valid();
        if (valid) {
            var htmldata;
            var url = getBaseUrl(document.location) + "/RemoveStop";

            // perform operation
            $.ajax({
                url: url,
                type: "POST",
                async: false,
                data: $("#deleteStopForm").serialize()
            });

            url = getBaseUrl(document.location) + "/Edit";

            // get parent screen data
            $.ajax({
                url: url,
                type: "GET",
                data: $("#editConfigurationForm").serialize(),
                async: false,
                success: function (result) {
                    htmldata = result;
                }
            });

            // refresh screen
            cancel("deleteStop");
            $("#editConfigurationDlg").html(htmldata);
            $("#editConfigurationDlg").find(".modal-backdrop").remove();
        }
    }

</script>
