﻿@{
    ViewBag.Title = "PIDS Configuration";
    var userCanEdit = !@MvcApplication.IsUserReadOnly(@User.Identity.Name);
}

<style>
    .modal-content {
        width: 700px !important;
    }

    .modal-dialog {
        width: 700px !important;
    }
</style>

@using PagedList.Mvc
@model IList<WebPids.EntityFramework.Configuration>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    @if (userCanEdit)
    {
        @Html.ActionLink("Create New", "Create", "PidsConfiguration", null, new {@class = "modal-link btn btn-primary"})
    }
</p>

@using (Html.BeginForm())
{
    <p>
        Find by Station Name: @Html.TextBox("SearchString")
        <input type="submit" class="btn btn-default" value="Search" />
    </p>
}
 
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>@Html.ActionLink("PID Id", "Index", new { sortColumn = ViewBag.IdSortParm })</th>
        <th>@Html.ActionLink("Station Name", "Index", new {sortColumn = ViewBag.StationNameSortParm})</th>
        <th>PID Asset Location</th>
        <th>VicTrack ID</th>
        <th>Orientation</th>
        <th>Enabled</th>
        <th>PID Health</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var config in Model)
         {
             <tr>
                 <td>@Html.DisplayFor(modelItem => config.Id)</td>
                 <td>@Html.DisplayFor(modelItem => config.StationName)</td>
                 <td>@Html.DisplayFor(modelItem => config.PIDAssetLocationNo)</td>
                 <td>@Html.DisplayFor(modelItem => config.VicTrackId)</td>
                 <td>@Html.DisplayFor(modelItem => config.OrientationMode)</td>
                 <td>@Html.DisplayFor(modelItem => config.Enabled)</td>
                 <td bgcolor="@config.HealthStatus.HtmlColor">@Html.DisplayFor(modelItem => config.HealthStatus.Text)</td>
                 @if (userCanEdit)
                  {
                      <td>
                          <a href="@config.DisplayUrl" target="_blank" class="btn btn-default" onclick="window.open(this.href, 'Preview', 'resizable,left=100,top=100,width=1720,height=780'); return false;">Preview</a>
                          @Html.ActionLink("Edit", "Edit", "PidsConfiguration", config, new {@class = "modal-link btn btn-default"})
                          @Html.ActionLink("Delete", "Delete", "PidsConfiguration", config, new {@class = "modal-link btn btn-default"})
                      </td>
                  }
                 else
                 {
                     <td>
                         <a href="@config.DisplayUrl" target="_blank" class="btn btn-default" onclick="window.open(this.href, 'Preview', 'resizable,left=100,top=100,width=1720,height=780'); return false;">Preview</a>
                     </td>
                 }
             </tr>
         }

    </tbody>
</table>

