﻿@using System.Collections
@using PagedList.Mvc
@using WebPids.EntityFramework

@using (Html.BeginForm())
{
    <h4>Manage Stops</h4>
    <p>
        <a href="javascript:void(null);" class="btn btn-primary btn-sm" onclick=" launch_modal('createStop'); ">Create Stop</a>
    </p>
    <div class="scrollable-stop-list">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Stop Id</th>
                    <th>Tracker Id</th>
                    <th>Title</th>
                    <th>Distance</th>
                    <th>Direction</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stop in ViewBag.Stops)
                {
                    <tr>
                        @{ Stop tmpStop = stop; }
                        <td>@Html.DisplayFor(modelItem => tmpStop.Id)</td>
                        <td>@Html.DisplayFor(modelItem => tmpStop.TrackerId)</td>
                        <td>@Html.DisplayFor(modelItem => tmpStop.DisplayTitle)</td>
                        <td>@Html.DisplayFor(modelItem => tmpStop.Distance)</td>
                        <td>@tmpStop.GetDirectionName()</td>
                        <td>
                            @Html.ActionLink("Edit", "EditStop", "PidsConfiguration", tmpStop, new {@class = "btn btn-default btn-sm editStop"})
                            @Html.ActionLink("Delete", "DeleteStop", "PidsConfiguration", tmpStop, new {@class = "btn btn-default btn-sm deleteStop"})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script type="text/javascript">
    $(function () {
        // save the stop
        $(".editStop").click(function (e) {
            // perform operation
            $.ajax({
                type: "POST",
                url: this.href,
                async: false,
                success: function (result) {
                    htmldata = result;
                }
            });

            // hide self & display the parent dialog
            $("#editStop").html(htmldata);
            launch_modal("editStop");

            return false;
        });

        // delete the stop
        $(".deleteStop").click(function (e) {
            var htmldata = "";
            // perform operation
            $.ajax({
                type: "POST",
                url: this.href,
                async: false,
                success: function (result) {
                    htmldata = result;
                }
            });

            // hide self & display parent dialog
            $("#deleteStop").html(htmldata);
            launch_modal("deleteStop");

            return false;
        });
    });
</script>

