﻿/*The marquee for all messages*/
.marquee {
    background: rgb(105,190,40);
    height: 89px;
    overflow: hidden;
    width: 100%
} 

/*Generic message marquee*/
.generic {
    color: white;
    background: rgb(105,190,40); 
    font: 49px'Helvetica', Tahoma, Sans-Serif;
}
 
/*Disruption marquee*/
.disruption {
    color: black;
    background: rgb(327,219,0); 
    font: 49px'Helvetica', Tahoma, Sans-Serif;  
}
    
/*Special events marquee*/
.specialevent {
    background: rgb(243,146,0);
    color: black;
    font: 49px'Helvetica', Tahoma, Sans-Serif;  
}

.marquee-image {
    vertical-align: middle;
}
