﻿@media screen and (orientation: landscape) {
    body {
        width: 1920px;
        height: 1080px;
        margin: 0;
        background-color: black;
    }
}

@media screen and (orientation: portrait) {

    body {
        width: 1080px;
        height: 1920px;
        margin: 0;
        background-color: black;
    }
}

.pid-container {
    background-color: black;
    margin: 0; 
    padding: 0;
    height: 100%;
}

/*Pid table in landscape mode */
.pid-table-landscape {
    background-color: white;
    width: 100%;
}

/*Pids table in portrait mode */
.pid-table {
    width: 100%;
    height: 100%;
}

/*The table cell*/
.pid-table-cell {
    width: 50%;
    height: 100%;
}

.pid-table-cell-landscape {
    
    height: 100%;
    vertical-align: top;
    text-align: center;
    padding: 0;
}

.pid-table-cell-portrait
 {
    
    height: 100%;
    vertical-align: top;
    padding: 0;
}

/*Our main drawing board*/
.pid-canvas {
    background-color: black;
}

/*The parent screen*/
.pid-main-screen {
    background-color: rgb(105,190,40);
    height: 100%;
}

/*The header*/
#pid-header {
    background-color: rgb(105,190,40); 
}

table, tr {
    border-color: rgb(105,190,40);
    border-spacing: 0px;
}

/*Table in header*/
#pid-header-table {
    width: 100%;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    vertical-align: top;
    padding-bottom: 10px;
	height:95px;
}

/*The cell in the header table*/
.pid-header-table-cell-left {
    width: 50%;
    padding-left: 62px; 
    text-align: left;
    vertical-align: bottom;
	padding-bottom:10px;
}

.pid-header-table-cell-left img {
    padding-top: 0px;
    padding-bottom: 0px;
}

.pid-header-table-cell-right {
    width: 50%;
    text-align: right;
	vertical-align: bottom;
	padding-bottom:10px;
}

.pid-header-table-cell-right img {
    padding-right: 62px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#pid-header-direction-table {
    width: 100%; 
    border-top: white; 4
}

.pid-header-direction-table-cell-left {
    text-align: left; 
    vertical-align: top;
}

.pid-header-direction-table-cell-right {
    vertical-align: top;
    text-align: right;
}

.pid-header-direction-table-cell-right img {
    margin-right: 0px;
}

/*The footer*/
#pid-footer {
    background-color: black;
    border-style: solid;
    border-color: gray; 
    height: 67px;
}

/*Table in footer*/ 
#pid-footer-table {
    width: 100%;
    height:100%; 
}

/*The cell in the footer table*/
.pid-footer-table-cell-left {
    width: 50%;
    text-align: left;
    padding-left: 62px;
}

.pid-footer-table-cell-right {
    width: 50%;
    text-align: right;
    vertical-align: middle;
    padding-right: 62px;
}
                    
/*The clock*/
#clock {
  color: #fff;
  font: 30px'Helvetica', Tahoma, Sans-Serif;
}
 
/*The TTID*/
.pid {
    background-color: rgb(105,190,40);
    min-height: 100%;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*The direction font*/
.pid-direction {
    background-color: rgb(105,190,40);
    padding-left: 62px;
    color: #fff;
    font: 43px'Helvetica', Tahoma, Sans-Serif;
    margin-bottom: 6px;
}

.pid-direction-right {
    position: fixed;
    display:inline;
    background-color: rgb(105,190,40);
    margin-left: 960px;
    left: 0;
    color: #fff;
    font: 43px'Helvetica', Tahoma, Sans-Serif;  
}

.pid-direction-single {
    display: table;
    background-color: rgb(105,190,40);
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font: 43px 'Helvetica', Tahoma, Sans-Serif;
}

.pid-direction-top {
    margin-top: 82px;
    display: table;
    background-color: rgb(105,190,40);
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font: 43px'Helvetica', Tahoma, Sans-Serif;  
}

.pid-direction-bottom {
    margin-top: 90px;
    display: table;
    background-color: rgb(105,190,40);
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font: 43px'Helvetica', Tahoma, Sans-Serif;  
}

/*The stop numbers*/
#stop-numbers {
  color: #fff;
  background-color: #000;
  margin-top: 3em;
}

/*The stop numbers emphasised*/
#stop-numbers strong {
  line-height: 1.5em;
}

/*Arrival control*/
#arrivals-view {
  background-color: #fff;
    height: 592px; /*100%*/
    text-align: center;
    padding-bottom: 5px;
    padding-top: 0px
}

#arrivals-view-portrait {
  background-color: #fff;
    padding-bottom: 5px;
    padding-top: 0px;
    height: 662px;
}

/*The arrivals row*/
.arrival-row { 
    height: 175px;
}

.arrival-row-portrait { 
    height: 200px;
}

#arrivals-view-portrait-single {
  background-color: #fff;
    height: 1428px;
    padding-bottom: 5px;
    padding-top: 0px;
}

/*The predictions table*/
.prediction-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px; 
}

.prediction-table-single {
  margin-left: auto; 
  margin-right: auto;
  margin-top: 4px;
}

/*Headings for all columns*/
#route-heading {
  padding-left: 14px;
  width: 157px;
  height: 55px;
  vertical-align: middle;
  font: 37px'Helvetica', Tahoma, Sans-Serif;  
}

#destination-heading {
  width: 431px;
  vertical-align: middle;
  font: 37px'Helvetica', Tahoma, Sans-Serif;
  padding-left: 10px;
}

#arrival-time-heading {
  width: 136px;
  vertical-align: middle;
  font: 37px'Helvetica', Tahoma, Sans-Serif;  
  padding-left: 14px;
}

.inner-route-cell {
    border-style: solid;
    border-color: white;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    background-color: rgb(0, 133, 63);
    vertical-align: middle;
}

.inner-destination-cell { 
    padding-top: 2px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: left;
    width: 431px;
    font: 47px'Helvetica', Tahoma, Sans-Serif;  
    border-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

/*Cells for all columns*/
.route-cell {
    background-color: rgb(0, 133,63);
    color: #fff; 
    text-align: center;
    vertical-align: middle;
    font: 45pt'Helvetica', Tahoma, Sans-Serif;  
}

.route-cell-small {
    background-color: rgb(0, 133,63);
    color: #fff; 
    text-align: center;
    vertical-align: middle;
    font: 34pt'Helvetica', Tahoma, Sans-Serif;  
}

/*The predictions table*/
.icons-table { 
  width: 100%;
}
 
/*The icon row*/
.icon-row { 
  margin-bottom: 50px;
}

.icons-cell {
  background-color: black;
  text-align: right;
}

.icons-cell img { 
  vertical-align: top; 
}

/*Arrival cell*/
.arrival-time-cell {
    background-color: black;
    color: #fff;
    vertical-align: top;
    text-align: center;
    width: 170px;
    font: 45pt'Helvetica', Tahoma, Sans-Serif;
    border-style: solid;
    border-color: white;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.arrival-cell {
    background-color: black;
    color: #fff;
    font: 45pt'Helvetica', Tahoma, Sans-Serif;
}

.arrival-cell-small {
    background-color: black;
    color: #fff;
    font: 25pt'Helvetica', Tahoma, Sans-Serif;
}

.prediction-text {
  vertical-align: top;
  text-align: center;
}
 
/*Header elements*/  
.distance {
  color: white; 
  text-align: left;
  padding-left: 62px; 
  margin-top: -14px;
  margin-bottom: 0px;
  font: 92px'Helvetica', Tahoma, Sans-Serif;  
}

.distance img {
    width: 65px;
    height: 65px;
    margin-left: 25px;
}

.stop-name {
  color: white;
  text-align: left;
  height: 61px;
  padding-left: 62px;
  margin-bottom: 0px;
  margin-top: -10px;
  font: 61px'Helvetica', Tahoma, Sans-Serif;  
}

.header-placeholder-1 {
    height: 5px;
    margin-bottom: 6px;
}
 
.header-placeholder-2 {
    height: 0px;
}

.body-placeholder-1 {
    height: 4px;
}

.body-placeholder-2 {
    height: 3px;
}
  
/*Canvas for the error message*/
canvas { 
    display:block;
    background-color: darkblue; 
}  
/*Service disruption message*/
.service-disruption-message-cell{ 
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font: 47px'Helvetica', Tahoma, Sans-Serif;  
}
.service-disruption-message-div-landscape{
    background-color: white;
    padding-top: 270px;
    padding-left: 400px;
    padding-right: 400px;
    text-align: center;
    height:655px;
    font: 47px'Helvetica', Tahoma, Sans-Serif;  
}
.service-disruption-message-div-portrait{
    background-color: white;
    padding-top: 630px;
    text-align: center;
    height:1460px;
    font: 47px'Helvetica', Tahoma, Sans-Serif;  
}
