﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tram tracker Trains Station PIDs Maintenance Module</h1>
    <p class="lead">For access, please request access to security group <strong>"SG-ICT-Development"</strong>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Update Ticker</h2>
        <p>Add/Modify/Delete Global Settings from the database</p>
        <p>@Html.ActionLink("More >", "Index", "GlobalSettings")</p>
    </div>
    <div class="col-md-4">
        <h2>PIDs Configurations</h2>
        <p>Add/Modify/Delete PIDs from the database</p>
        <p>@Html.ActionLink("More >", "Index", "PidsConfiguration")</p>
    </div>
    <div class="col-md-4">
        <h2>Audit Logs</h2>
        <p>Display the audit logs of updates done on PIDs</p>
        <p>@Html.ActionLink("More >", "Index", "PidsActivity")</p>
    </div>
    <div class="col-md-4">
        <h2>PID Health</h2>
        <p>Display the health status of all PIDs</p>
        <p>@Html.ActionLink("More >", "Index", "PidsHealth")</p>
    </div>
    <div class="col-md-4">
        <h2>PID History Report</h2>
        <p>Display the historical performance of PIDs</p>
        <p>@Html.ActionLink("More >", "Index", "PidsHistory")</p>
    </div>
    <div class="col-md-4">
        <h2>PID Errors</h2>
        <p>Display all PID Errors</p>
        <p>@Html.ActionLink("More >", "Index", "PidsError")</p>
    </div>
    <div class="col-md-4">
        <h2>PID Hardware</h2>
        <p>Display the Metromatics openNMS PID Hardware Monitoring Tool</p>
        <p><a href="http://10.0.205.21:8980/opennms/login.jsp" target="_blank">More ></a></p>
    </div>
</div>